@font-face {
  font-family: "Arvilani";
  src: url(/assets/font/Silica_Regular/Silica_Regular.ttf);
}

body {
  font-family: "Arvilani", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.header {
  background: radial-gradient(rgb(245, 245, 245), rgb(117, 117, 117));
}

.header .row{
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

.contact {
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(#fff, rgb(161, 161, 161));
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.contact .content p{
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.content {
  margin-right: 700px;
}

.container2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container2 .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container2 .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container2 .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container2 .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  flex-direction: column;
  font-weight: 300;
}

.container2 .contactInfo .box .text h3{
  font-weight: 500;
  color: #0104d4;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
}

.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span, 
.contactForm .inputBox input:valid ~ span, 
.contactForm .inputBox textarea:focus ~ span, 
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: radial-gradient(rgb(194, 194, 194), rgb(0, 0, 0));
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.contactForm .inputBox input:hover[type="submit"] {
  background: rgb(0, 0, 0);
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* footer */

.footer {
  background: #000;
  color: #8a8a8a;
  padding: 60px 0 20px;
}

.footer p{
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
}

.footer-col-1, 
.footer-col2,
.footer-col-3, 
.footer-col-4 {
  min-width: 280px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

.copyright {
  text-align: center;
}

/* media query for menu */

@media only screen and (max-width: 800px) {
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: rgb(0, 0, 0);
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* media query for less than 600 screen size */

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col-2, .col-3, .col-4, .col-6 {
    flex-basis: 100%;
  }
}


@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container2 {
    flex-direction: column;
  }
  .container2 .contactInfo {
    margin-bottom: 40px;
  }
  .container2 .contactInfo,
  .contactForm {
    width: 100%;
  }
  .content {
    margin-right: 0px;
  }
}
